<nav class="side-menu" id="side-menu">
  <ul id="mobile-nav-links"></ul>

  <div class="mobile-dropdown">
    <div 
      class="dropdown-trigger" 
      aria-expanded="false" 
      aria-controls="mobile-projects-dropdown"
    >
      Projects
    </div>

    <ul id="mobile-projects-dropdown" class="dropdown-menu" role="menu">
      <li><a href="#">Learning Path</a></li>
      <li><a href="#">Squirrel Game</a></li>
      <li><a href="#">Bootcamp</a></li>
      <li><a href="#">freeCodeCamp Projects</a></li>
    </ul>
  </div>
</nav>