:root {
  --light-grey: #f5f6f7;
  --dark-grey: #0a0a23;
  --yellow: #f1be32;
  --golden-yellow: #feac32;
}

#main {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
	background-color: var(--accent-color-lteal);
}

.select,
.input,
.label {
  margin-left: 10px;
}

.div {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.close-form-button {
  background: none;
  border: none;
  cursor: pointer;
}

.h1, .h2 {
  margin-top: 10px;
  text-align: center;
}

#category-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--text-color-alt);
  align-self: center;
  width: 80%;
  margin-top: 15px;
  border-radius: 10px;
}

section {
  margin-top: 60px;
  border: 2px solid var(--accent-color-dteal);
  width: fit-content;
  border-radius: 10px;
}