
#body {
  background-color: black;
  color: var(--text-color-alt);
}

main {
  text-align: center;
  padding: 10px;
}

.emoji-btn-container,
button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.emoji-btn-container {
  flex-direction: column;
}

.emoji-btn {
  width: 70%;
  cursor: pointer;
  color: var(--text-color-alt);
  background-color: var(--accent-color-brown);
  background-image: linear-gradient(
    to bottom,
    var(--accent-color-gold),
    var(--accent-color-brown)
  );
  border: 3px solid var(--accent-color-brown);
  border-radius: 8px;
  padding: 10px;
  font-size: 1.5rem;
  margin: 10px 0;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

@media (min-width: 768px) {
  .emoji-btn {
    width: 30%;
  }
}

.emoji-btn:hover {
  background-color: var(--accent-color-gold);
  background-image: none;
}

.title {
  margin-top: 15px;
  font-size: 2rem;
}

.description {
  font-size: 1.4rem;
  margin: 20px 0;
}