/* General Body Styling */
#event-flyer {
  padding: auto;
  margin: auto;
  min-height: calc(100vh - 100px);
  text-align: center;
  width: 50vw;
  box-sizing: border-box; 
  line-height: 1.5;
}

@media (max-width: 576px) {
  #event-title {
    font-size: 3rem;
  }
	#activities-title,
	#accommodations-title,
	#accoutrements-title {
		font-size: 1.3rem;
	}
}

/* Horizontal Rule Styling */
.hr {
  width: 75%;
  margin: 20px auto;
  border: 1px solid #ccc;
}

/* Section Container */
.section {
  width: 100%;
  margin: 0 auto;
}

/* Flex Container for Multiple Sections */
.containercc {
	background-color: var(--accent-color-gold);
  text-align: left;
  flex-wrap: wrap; 
	width: 72vw;
	padding: 5%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
}

.eventimg {
	width: 100%;
	border-radius: 5%;
}

/* Individual Section Styling */
.section1,
.section2,
.section3 {
  flex: 1;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  background-color: #f9f9f9; 
  border-radius: 8px; 
}