body {
  background-color: var(--accent-color-lgray);
  color: var(--text-color-alt);
}

.h1 {
  text-align: center;
  margin-top: 60px;
}

.h2 {
	font-size: 1rem;
}

.select-container {
  display: block;
  margin: 25px auto;
  padding: 8px;
  border: 4px solid var(--text-color-alt);
  border-radius: 4px;
  width: 200px;
}

.products-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 760px) {
  .products-container {
    flex-direction: row;
  }
}

.Mcard {
  background-color: var(--text-color-alt);
  color: var(--text-color-main);
  border: 4px solid var( --accent-color-brown);
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}