#body {
  transition: background 0.3s, color 0.3s;
}


#message {
  font-size: 3em;
}

.theme-squirrels {
	background: var(--accent-color-gold);
}

.theme-dinosaurs {
	background: var(--accent-color-dteal);
}

.theme-trees {
	background: var(--accent-color-lteal);
}