.title {
  margin: 25px 0;
  text-align: center;
	font-size: calc(1.525rem + 2.5vw);
}

body {
  background-color: var(--accent-color-lgray);
}

.weather-card {
  max-width: 800px;        
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.secondary {
  font-size: calc(1.2rem + .1vw);
  line-height: 1.2;
}

.primary {
  font-size: calc(1.2rem + .3vw);
  line-height: 1.2;
}

#location {
	color: var(--accent-color-brown);
}

.WAhidden {
  display: none;
}

#weather-icon {
  width: 50%;
  max-width: 200px;
}

#weather-container h2,
#weather-container .primary,
#weather-container p {
  text-align: left;
}

@media (min-width: 768px) {
  .border-md-end {
    border-right: 1px dotted #ccc;
  }
}

@media (max-width: 767.98px) {
  .border-md-end {
    border-right: none;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}