.title {
  margin: 25px 0;
  text-align: center;
	font-size: calc(1.525rem + 2.5vw);
}

body {
  background-color: var(--accent-color-lgray);
}

.weather-card {
  max-width: 800px;        
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.secondary {
  font-size: calc(1.2rem + .1vw);
  line-height: 1.2;
}

.primary {
  font-size: calc(1.2rem + .3vw);
  line-height: 1.2;
}

.WAhidden {
  display: none;
}

#weather-icon {
  width: 50%;
  max-width: 200px;
}

#weather-container h2,
#weather-container .primary,
#weather-container p {
  text-align: left;
}

@media (min-width: 768px) {
  .border-md-end {
    border-right: 1px dotted #ccc;
  }
}

#nut-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px; 
  height: 200px;
  pointer-events: none;
}

.nut {
  position: absolute;
  top: 0;
  font-size: 20px;
  animation: fall 1.5s linear forwards;
  pointer-events: none;
	z-index: 9999;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(150px) translateX(30px) rotate(360deg);
    opacity: 0;
  }
}

