<div class="contact-card">
  <button id="contact-close" aria-label="Close Contact Card">✕</button>
	<div id="contact-card-content">
		
		<section class="business-card" aria-label="Personal Business Card">
      <header>
        <img
          class="contact-card-image"
          src="https://cdn.freecodecamp.org/curriculum/labs/flower.jpg"
          alt="Portrait of Georgia Metz"
        />
        <p class="full-name contact-text">Georgia Metz</p>
        <p class="designation contact-text">Lifelong Learner</p>
        <p class="company contact-text">Squirrel House Inc.</p>
      </header>

      <hr />

      <section class="contact-info" aria-label="Contact Information">
        <p class="company contact-text">Email: <a href="mailto:georgia@sh.com">georgia@sh.com</a></p>
        <p class="company contact-text">Phone: <a href="tel:+15926418851">592-641-8851</a></p>
        <p class="company contact-text"><a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Portfolio</a></p>
      </section>

      <hr />

      <section class="social-media" aria-label="Social Media Links">
        <h2>Connect with me</h2>
        <ul>
          <li><a href="https://www.google.com/?client=safari" target="_blank" rel="noopener noreferrer">Twitter</a></li>
          <li><a href="https://www.google.com/?client=safari" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
          <li><a href="https://www.google.com/?client=safari" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        </ul>
      </section>
    </section>
  </div>
	
	
</div>