<div class="contact-card">
  <button id="contact-close" aria-label="Close Contact Card">✕</button>
	<div id="contact-card-content">	
		<section class="business-card" aria-label="Personal Business Card">
			
      <header>
				
        <p class="first-name">GEORGIA</p>
				<p class="end-name">JEAN METZ</p>
      </header>
			
      <section class="contact-info" aria-label="Contact Information">
        <p class="contact-link">Phone: <a class="contact-link" href="tel:+18477367819">847-736-7819</a></p>
				<p class="contact-link">Email: <a class="contact-link" href="mailto:georgiajeanmetz@gmail.com">georgiajeanmetz@gmail.com</a></p>
      </section>

      <hr />

      <div class="social-media" aria-label="Social Media Links">
        <a href="https://www.linkedin.com/in/georgia-metz-aun-aprendo" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn Profile">
        	<img src="./assets/linkedin-icon.svg" alt="LinkedIn" />
    		</a>
    		<a href="https://github.com/aunaprendo" target="_blank" rel="noopener noreferrer" aria-label="GitHub Profile">
      		<img src="./assets/github-icon.svg" alt="GitHub" />
    		</a>
      </div>
    </section>
  </div>
</div>


