<nav id="top-bar">
  <div id="nav-bar">
    <img id="logo" src="./assets/logoInitialsColor.svg" alt="Georgia Jean Logo" />
    <ul id="nav-links">
       <li class="dropdown">
        <button class="dropbtn" aria-haspopup="true" aria-expanded="false"><a class="nav-link projects" href="#">PROJECTS ▾</a></button>
        <ul class="dropdown-content" aria-label="Projects submenu">
          <li><a  class="dropdown-project" href="#">Learning Path</a></li>
          <li><a class="dropdown-project" href="#">Squirrel Game</a></li>
          <li><a class="dropdown-project" href="#">Bootcamp</a></li>
          <li><a class="dropdown-project" href="./ccProjects.html">freeCodeCamp Projects</a></li>
        </ul>
      </li>
      <li><a class="nav-link" href="./resume.html">RESUME</a></li>
      <li><a class="nav-link side-card" href="#">CONTACT</a></li>
      <li><a class="nav-link" aria-current="page" href="./index.html">HOME</a></li>
    </ul>
		<div class="overlay" id="overlay"></div>
    <div class="hamburger" id="hamburger" aria-label="Toggle menu">
      <span aria-hidden="true"> </span>
      <span aria-hidden="true"> </span>
      <span aria-hidden="true"> </span>
    </div>
  </div>
</nav>



