/* ========================================
   NAVBAR
========================================= */
#top-bar {
	background: var(--bg-color-main);
}

.nav-link {
  color: var(--text-color-main);
}

.nav-link:hover {
  color: var(--accent-color-dteal);
}

#logo {
  height: 95%;
  padding-left: 10px;
}

/* Projects dropdown button */
.dropbtn {
  background: var(--bg-color-main);
  color: var(--text-color-main);
}

/* ========================================
   HAMBURGER BUTTON
========================================= */
.hamburger span {
  background: var(--bg-color-alt);
}

.hamburger span:hover {
  background: var(--accent-color-dteal);
}

.hamburger.active span {
  background: var(--accent-color-lteal);
}

/* ========================================
   SIDE MENU
========================================= */
#mobile-nav-links a:hover {
	color: var(--accent-color-lteal);
}
	
#side-logo {
	width: 80%;
}

/* ========================================
   Contact Card
========================================= */
/* Business card container */
.business-card {
  background: var(--accent-color-dteal);
}

/* ========================================
   FOOTER
========================================= */
#footer a:hover {
  color: var(--accent-color-lteal);
}

.social img:hover,
.social img:focus-visible {
  box-shadow: 0 0 0 3px var(--accent-color-lteal);
}
