/* ========================================
   CIRCLE CLUSTER
========================================= */	
.cluster {
  position: relative;
	width: 100%;
	display: grid;
  place-items: center;
	aspect-ratio: 1 / 1; 
}

.cir {
  border-radius: 50%;
  aspect-ratio: 1 / 1; 
	position: absolute;
}

.cir.top {
	width: 90%;
	transform: translate(-5%, -25%);
  background-image: url("https://image2url.com/images/1765240145191-1aa05709-198e-4f42-aa03-3216d05f8af2.jpeg"); 
  background-size: cover;  
  background-position: center;
}

.cir.bottom {
  width: 65%;
  transform: translate(25%, 45%);
  background: var(--accent-color-dteal, #065F6F);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  padding-top: clamp(4rem, 6vh, 6rem);
}

/* ========================================
   PROJECT CAROUSEL
========================================= */	
.carousel-container {
  max-width: 1100px;     
  margin: 0 auto;
  padding-inline: 1rem;
  position: relative;
	pointer-events: none; 
}

.carousel-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.carousel-viewport {
  position: relative;   
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
}

.project-card {
  flex: 0 0 100%;
	width: 40vw;
	display: flex;
	flex-direction: column;
  background: var(--bg-color-main, #FFFFFF);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .project-card { flex-basis: 50%; }
}

@media (min-width: 1024px) {
  .project-card { flex-basis: 33.3333%; }
}

.project-card-body {
	flex: 1;                   
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.7rem;
}

.project-card-body a:hover {
	text-decoration: underline;
	color: var(	--accent-color-dteal, #065F6F);
}

.project-card-img-top {
  width: 100%;
	height: 10rem;
	object-fit: cover;
	object-position: center;
	border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
	display: block;
}

.project-card-title {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;     /* limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 768px) {
  .project-card-title {
    font-size: 1rem;
  }
	.project-card-body a{
		font-size: .9rem;
	}
	.project-card-body {
  padding: .5rem .5rem;
	}
}

/* Carousel Buttons */
.carousel-btn {
  position: absolute;
	width: 60px;
	height: 60px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
	text-align: center;
  border: none;
	border-radius: 50%;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1;
	pointer-events: auto;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

/* ========================================
BIG BUTTONS
========================================= */
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
	margin-top: 5px;
	color: var(--text-color-alt, #FFFFFF);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn-primary {
  color: var(--text-color-alt, #FFFFFF);
  background-color: var(--accent-color-dteal, #065F6F);
  border-color: var(--accent-color-dteal, #065F6F);
}
.project-card-body a:hover {
  color: var(--text-color-alt, #FFFFFF);
  background-color: var(--bg-color-alt, #242424);
  border-color: var(--bg-color-alt, #242424);
}

/* ========================================
CC PROJECT CARDS
========================================= */	
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--bg-color-main, #FFFFFF);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-img-top {
  width: 100%;
	border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-title{
	margin: 0;
	padding: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: .8rem .8rem;
}

.card-body-small {
  flex: 1 1 auto;
  padding: .5rem .5rem;
}

.card-body a:hover {
	text-decoration: underline;
	color: var(	--accent-color-dteal, #065F6F);
}

@media (max-width: 768px) {
  .card-title {
    font-size: 1rem;
  }
	.card-body a{
		font-size: .9rem;
	}
	.card-body {
  padding: .5rem .5rem;
	}
}