/* Page background */
#body {
  background-color: var(--accent-color-lgray);
  margin: 0;
}

/* Paragraph spacing */
.p {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  color: #fff;
}

/* Links */
.a {
  text-decoration: none;
  color: #fff; 
}

/* Business card container */
.business-cardcc {
  width: 300px;
  background-color: var(--accent-color-brown);
  padding: 20px;
  margin: 50px auto 0 auto; /* top margin + horizontal centering */
  text-align: center;
  font-size: 16px;
  border-radius: 8px; 
}

/* Profile image */
.profile-imagecc {
  width: 80%;
	aspect-ratio: 1 / 1;
  border-radius: 50%; 
  margin-bottom: 15px;
	box-shadow: 
    0 0 25px rgba(0,0,0,0.45);
}