/* Container representing the house */
#house {
  position: relative;
  top: 100px;
  width: 75%;
  height: 400px;
  background-color: var(--accent-color-lteal);
  border: 3px solid black;
}

/* Shared styles for all house parts */
#house > div {
  position: absolute;
  border: 1px solid black; 
}

#roof {
  width: 100%;
  height: 50px;
  top: 0;
  background-color: black;
  border-width: 15px;
}

#door {
  width: 100px;
  height: 200px;
  bottom: 0;
  left: calc(50% - 50px);
  background-color: var(--accent-color-dteal);
}

#chimney {
  width: 40px;
  height: 100px;
  top: -100px;
  background-color: var(--accent-color-brown);
  z-index: -1;
}

/* Window shared styling */
#window-1,
#window-2 {
  width: 20%;
  aspect-ratio: 1/1;
  top: 20%;
  background-color: var(--accent-color-gold);
}

/* Window positions */
#window-1 {
  left: 5%;
}

#window-2 {
  left: 75%;
}