.magazine {
  font-size: 62.5%;
	font-family: 'Baskervville', serif;
  color: var(--text-color-main);
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
  row-gap: 2rem;
}

#body {
	background-color: var(--accent-color-lgray);
}

.h1 {
  font-family: 'Anton', sans-serif;
}

.h2, .h3, .h4, .h5, .h6 {
  font-family: 'Raleway', sans-serif;
}

.amag {
  text-decoration: none;
  color: var(--text-color-main);
}

.magimg {
  width: 100%;
  object-fit: cover;
	filter: grayscale(25%)
	contrast(100%);
	border-radius: 1%;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);	
}

.maghr {
  margin: 1.5rem 0;
  border: 1px solid rgba(120, 120, 120, 0.6);
}

.heading {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
}

.magtext {
  grid-column: 2 / 3;
  font-size: 1.8em;
  letter-spacing: 0.6px;
  column-width: 20rem;   /* width of each column */
  column-gap: 3rem;
  text-align: justify;
}

.maghero {
  grid-column: 1 / -1;
  position: relative;
}

.hero-title {
  text-align: center;
  color: var(--accent-color-brown);
}

.hero-subtitle {
  font-size: 2.4em;
  color: var(--accent-color-brown);
  text-align: center;
	padding-left: 15%;
	padding-right: 15%;
}

.magauthor {
  font-size: 2em;
  font-family: "Raleway", sans-serif;
	line-height: .7;
}

.author-name a:hover {
  background-color:var(--accent-color-brown);
	border-radius: 7px;
	color: white;
}

.publish-date {
  color: var(--accent-color-dgray);
}

.mag-social-icons {
  display: grid;
  font-size: 3em;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
	padding-left: 15%;
}

.first-paragraph::first-letter {
  font-size: 6em;
  color: var(--accent-color-brown);
  float: left;
  margin-right: 1rem;
}

#mag-quote1,
#mag-quote2 {
  color: var(--accent-color-dgray);
  font-size: 1.2em;
  text-align: center;
  font-family: "Raleway", sans-serif;
	font-weight: 600;
}

#mag-quote1::before {
  content: '" ';
}

#mag-quote1::after {
  content: ' "';
}

#mag-quote2::before {
  content: '" ';
}

#mag-quote2::after {
  content: ' "';
}

.text-with-images {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;
  margin-bottom: 3rem;
}

.mag-lists {
  list-style-type: none;
  margin-top: 2rem;
}

.mag-lists li {
  margin-bottom: 1.5rem;
}

.list-title, .list-subtitle {
  color: var(--accent-color-brown);
}

.mag-image-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 2rem;
  place-items: center;
}

.image-1, .image-3 {
  grid-column: 1 / -1;
}

@media only screen and (max-width: 720px) {
  .mag-image-wrapper {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .text-with-images {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 550px) {
  .hero-title {
    font-size: 6em;
  }
  
  .hero-subtitle,
  .magauthor,
	#mag-quote1,
	#mag-quote2,
  .list-title {
    font-size: 1.8em;
  }
  
  .mag-social-icons {
    font-size: 2em;
  }

  .magtext {
    font-size: 1.6em;
  } 
}

@media only screen and (max-width: 420px) {
  .hero-title {
    font-size: 4.5em;
  }