.title{grid-area:title;
	background-color: #566878;}

.feature-article{grid-area:feature-article;
	}

.secondary-article{grid-area:secondary-article;
}

.cover-image{grid-area:cover-image;
	}
	.cover-image>img{
	max-width: 100%;
	}

.small-article1{grid-area:small-article1;}

.small-article2{grid-area:small-article2;}

.small-article3{grid-area:small-article3;}

.newspaper-layout{display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto 1fr 1fr 1fr;
	grid-gap: 0;
	grid-template-areas:
	"title title title"
	"feature-article feature-article cover-image"
	"secondary-article secondary-article cover-image"
	"small-article1 small-article2 small-article3";}
	