.form-container {
  background-color: var(--accent-color-dteal);
  border-radius: 25px;
  padding: 15px;
  width: 100%;
  max-width: 500px; 
  margin: 75px auto 0 auto;   
}

.cclabel {
  display: block;   /* ensures labels stack above inputs */
  margin: 5px 0;
  color: #ffffff;
  font-weight: bold;
}

.ccinput,
.cctextarea {
  width: 100%;      
  padding: 8px;
  margin: 5px 0 15px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.ccinput:focus,
.cctextarea:focus {
  outline: 3px solid var(--accent-color-brown); 
  border-color: var(--accent-color-brown);
}

.ccbutton {
  background-color: #cccccc;
  color: black;
  font-size: 1.25rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ccbutton:hover,
.ccbutton:focus {
  background-color: var(--accent-color-gold);
  outline: 3px solid var(--accent-color-brown); 
}