#product-nav {
  display: none;
}

@media (min-width: 768px) {
  #product-nav  {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding-top: 75px;
    padding-left: 20px;
    background-color: var(--accent-color-gold);
    border-right: 1px solid #ddd;
    overflow-y: auto;
    z-index: 0;
  }

  #main-doc {
    margin-left: 250px;
  }
	
	.alt-heading {
  display: none;
	}
}

#product-nav {
  font-size: 1rem;
  line-height: 1.5;
}

.product-nav-link {
  padding: 15px;
  font-weight: var(--weight-thin);
	font-size: 1.2rem;
	line-height: 4rem;
  color: var(--text-color-main);
}

.product-nav-link:hover {
  color: var(--accent-color-brown);
}

footer {
  position: relative;
  z-index: 10; /* higher than navbar (0) */
}

