@media (min-width: 768px) {
  #navbar-squirrel {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding-top: 75px;
    padding-left: 20px;
    background-color: var(--accent-color-bold);
    border-right: 1px solid #ddd;
    overflow-y: auto;
    z-index: 0;
  }

  #main-doc {
    margin-left: 250px; 
  }
}

#navbar-squirrel {
  font-size: 1rem;
  line-height: 1.5;
}

footer {
  position: relative;
  z-index: 10; /* higher than navbar (0) */
}